<sf-field [label]="definition().label" [hint]="definition().help" [required]="fieldRequired()" [empty]="fieldEmpty()" [tags]="fieldTags()" [findings]="fieldFindings()">
  @if (useRadios()) {
    <sf-radio-group [formControl]="control()" [options]="options()" [readonly]="!!definition().readOnly" />
  } @else {
    <sf-select
      [formControl]="control()"
      [options]="options()"
      [placeholder]="'forms.editors.select.placeholder' | transloco"
      [readonly]="!!definition().readOnly"
    />
  }
</sf-field>
