<sf-dialog size="sm" [title]="t('title', { name: data.name })">
  <form class="rename__form" (submit)="$event.preventDefault(); saveName()">
    <sf-field [label]="t('name')" required [error]="nameError()">
      <sf-input autocomplete="off" [value]="name()" (valueChange)="setName($event)" />
    </sf-field>
    <sf-button [disabled]="!nameValid()" (click)="saveName()">{{ t('save') }}</sf-button>
  </form>
  @if (data.developer) {
    <form class="rename__form" (submit)="$event.preventDefault(); changeUid()">
      <sf-field [label]="t('uid')" [hint]="t('uidHint')" [error]="uidError()">
        <sf-input monospace autocomplete="off" [spellcheck]="false" [value]="uid()" (valueChange)="uid.set($event)" />
      </sf-field>
      <sf-button variant="secondary" [disabled]="!uidValid()" (click)="changeUid()">{{ t('changeUid') }}</sf-button>
    </form>
  }
  <ng-container sfDialogFooter>
    <sf-button variant="ghost" (click)="close()">{{ t('close') }}</sf-button>
  </ng-container>
</sf-dialog>
