<sf-splitter
  class="media"
  collapsible
  paneId="media-tree"
  [defaultSize]="treeWidth"
  [min]="200"
  [max]="440"
  [label]="'media.folders.resize' | transloco"
>
  <sf-media-library-tree sfSplitterStart class="media__pane" />
  <sf-media-library-main sfSplitterEnd class="media__pane media__library" />
</sf-splitter>

@if (release.choices(); as choices) {
  <sf-release-dialog [projectKey]="projectKey()" mode="release" [choices]="choices" (done)="release.close()" (closed)="release.close()" />
}

@if (library.selectedMedia(); as media) {
  <sf-media-detail-drawer
    [projectKey]="projectKey()"
    [media]="media"
    [tab]="library.tabParam()"
    [position]="library.detailPosition()"
    [folderPath]="library.assetFolderPath()"
    [mediaUids]="library.mediaUids()"
    (closed)="library.closeDetail()"
    (updated)="library.onUpdated($event)"
    (deleted)="library.onDeleted($event)"
    (discarded)="library.onDiscarded($event)"
    (tabChange)="library.setDetailTab($event)"
    (step)="library.stepAsset($event)"
    (fileAction)="onFileAction($event, media)"
  />
}
