<div class="media-nav__indent" [style.padding-left.px]="depth() * 14">
  <div
    class="media-nav__row"
    [class.media-nav__row--active]="selected()"
    role="treeitem"
    tabindex="0"
    draggable="true"
    [attr.aria-selected]="selected()"
    (click)="onSelect()"
    (keydown)="onKeydown($event)"
    (dragstart)="onDragStart($event)"
    (contextmenu)="onContextMenu($event)"
  >
    <span class="media-nav__spacer"></span>
    <sf-icon class="media-nav__icon" [name]="mediaIcon()" />
    <span class="media-nav__name">{{ summary().displayName ?? summary().uid }}</span>
    @if (summary().localized) {
      <sf-icon class="media-nav__localized" name="translate" title="Different file per language" />
    }
    <sf-release-badge [release]="summary().release" [scheduled]="summary().scheduled" [compact]="true" />
    <span class="media-nav__mono">{{ summary().uid }}</span>
  </div>
</div>

<sf-rename-asset-dialog
  [open]="renameOpen()"
  [projectKey]="projectKey()"
  [uuid]="summary().uuid ?? ''"
  [uid]="summary().uid ?? ''"
  [displayName]="summary().displayName ?? summary().uid ?? ''"
  [submittingName]="renamingName()"
  (renameDisplayName)="submitRenameDisplayName($event)"
  (uidChanged)="onRenameUidChanged()"
  (closed)="closeRename()"
/>
