<button
  #trigger
  class="user-menu__trigger"
  [class.user-menu__trigger--compact]="compact()"
  type="button"
  aria-haspopup="menu"
  [attr.aria-expanded]="open()"
  [attr.aria-label]="'Account menu for ' + displayName()"
  (click)="toggle()"
>
  <span class="user-menu__avatar" aria-hidden="true">{{ initials() }}</span>
  @if (!compact()) {
    <span class="user-menu__name">{{ displayName() }}</span>
    <sf-icon name="expand_more" />
  }
</button>

@if (open()) {
  <div class="user-menu__panel" role="menu" [style]="position()">
    <div class="user-menu__who">
      <span class="user-menu__who-name">{{ displayName() }}</span>
      <span class="user-menu__who-username">&#64;{{ username() }}</span>
    </div>
    <a class="user-menu__item" role="menuitem" routerLink="/account" (click)="close()">
      <sf-icon name="person" /> My account
    </a>
    @if (isInstanceAdmin()) {
      <a class="user-menu__item" role="menuitem" routerLink="/admin" (click)="close()">
        <sf-icon name="admin_panel_settings" /> Administration
      </a>
    }
    <button class="user-menu__item" role="menuitem" type="button" (click)="signOut()">
      <sf-icon name="logout" /> Sign out
    </button>
  </div>
}
