@if (store.channelKeys().length > 0) {
  <sf-tabs
    [idPrefix]="idPrefix"
    [tabs]="store.channelTabs()"
    [selected]="store.selectedChannel()"
    [label]="'templates.channels.tabs' | transloco"
    (selectTab)="editing.selectChannel($event)"
  />
}
@for (key of store.channelKeys(); track key) {
  <div
    class="channels__panel"
    role="tabpanel"
    [id]="panelId(key)"
    [attr.aria-labelledby]="tabId(key)"
    [hidden]="key !== store.selectedChannel()"
  >
    <p class="channels__hint">{{ 'templates.channels.hint' | transloco: { channel: key } }}</p>
    <sf-code-panel
      class="channels__code"
      language="octl"
      [attr.data-channel]="key"
      [languageLabel]="languageLabel(key)"
      [fileName]="(store.detail()?.uid ?? 'template') + '.' + key + '.octl'"
      [label]="labelOf(key)"
      [value]="store.channelSources()[key]"
      [format]="store.channelFormats()[key].format"
      [svg]="store.channelFormats()[key].svg"
      [diagnostics]="store.channelDiagnostics(key)"
      [readOnly]="store.readOnly()"
      [names]="store.editorNames()"
      (valueChange)="editing.onChannelInput($event, key)"
    />
  </div>
} @empty {
  <div class="channels__empty">
    <p class="channels__hint">{{ 'templates.channels.none' | transloco }}</p>
    @if (store.availableChannels().length > 0) {
      <sf-menu
        variant="secondary"
        size="sm"
        icon="add"
        [text]="'templates.settings.addChannel' | transloco"
        [label]="'templates.settings.addChannelLabel' | transloco"
        [items]="addChannelItems()"
        [disabled]="store.readOnly()"
      />
    }
  </div>
}
