<div class="template-nav__indent" [style.padding-left.px]="depth() * 14">
  <div
    class="template-nav__row"
    [class.template-nav__row--active]="selected()"
    role="treeitem"
    tabindex="0"
    [attr.aria-selected]="selected()"
    (click)="onSelect()"
    (keydown)="onKeydown($event)"
    (contextmenu)="onContextMenu($event)"
  >
    <span class="template-nav__spacer"></span>
    <sf-icon class="template-nav__icon" [name]="templateKind() === 'DATASET' ? 'dataset' : 'description'" />
    <span class="template-nav__name">{{ summary().displayName ?? summary().uid }}</span>
    <span class="template-nav__mono">{{ summary().uid }}</span>
  </div>
</div>

<sf-rename-asset-dialog
  [open]="renameOpen()"
  [projectKey]="projectKey()"
  [uuid]="summary().uuid ?? ''"
  [uid]="summary().uid ?? ''"
  [displayName]="summary().displayName ?? summary().uid ?? ''"
  [submittingName]="renamingName()"
  (renameDisplayName)="submitRenameDisplayName($event)"
  (uidChanged)="onRenameUidChanged()"
  (closed)="closeRename()"
/>
