@if (store.readOnly() && store.datasetSelected()) {
  <div class="templates__toolbar">
    <span class="templates__toolbar-readonly">{{ store.readOnlyLabel() }}</span>
  </div>
}

@if (store.datasetSelected() && store.selectedUuid(); as datasetUuid) {
  <div class="detail__scroll">
    <sf-dataset-editor
      [projectKey]="store.projectKey()"
      [uuid]="datasetUuid"
      (changed)="onDatasetChanged()"
      (deleted)="onDatasetDeleted($event)"
    />
  </div>
} @else {
  <sf-template-ide />
}
